[submodule "packages/program-evm/protocol-evm-v1/lib/forge-std"]
	path = packages/program-evm/protocol-evm-v1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/program-evm/protocol-evm-v1/lib/openzeppelin-contracts"]
	path = packages/program-evm/protocol-evm-v1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
